<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<script src="../JsBarcode/dist/JsBarcode.all.min.js"></script>
<!--
`campus-leave-for-teacher`
@demo demo/campus-leave-for-teacher.html
-->
<dom-module id="campus-leave-for-teacher">
    <style include="iron-flex iron-flex-alignment"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }

        :host paper-item {
            color: var(--secondary-text-color);
        }

        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }

        :host paper-toolbar paper-input {
            --paper-input-container-color: var(--light-theme-divider-color);
            --paper-input-container-focus-color: #fff;
            --paper-input-container-input-color: #fff;
        }

        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }

        :host .error-text-color {
            color: var(--error-color);
        }

        :host table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        :host th {
            background: rgba(0, 0, 0, .087);
        }

        :host th,
        :host td {
            border: 1px solid #ccc;
            padding: 5px;
            margin: -1px 0 0 -1px;
            text-align: center;
            width: 40px;
            white-space: nowrap;
        }

        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }

        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }

        @media (min-width: 601px) {
            :host .sbar {
                display: flex;
            }
            :host .smenu {
                display: none;
            }
        }

        @media (max-width: 600px) {
            :host .sbar {
                display: none;
            }
            :host .smenu {
                display: flex;
            }
        }

        @media (min-width: 769px) {
            :host [list] {
                padding: 10px;
            }
            :host .leave-item {
                margin: 8px 12px;
            }
            :host [drawer] {
                background: #f2f2f2;
            }
        }

        @media (max-width: 768px) {
            :host .smenu paper-item {
                color: rgba(0, 0, 0, .67);
            }
            :host .leave-item {
                margin-top: 8px;
            }
        }
    </style>
    <template>
        <paper-drawer-panel id="drawerPanel" responsive-width="768px">
            <paper-header-panel mode="waterfall" drawer>
                <paper-toolbar>
                    <paper-input class="flex-auto" label="姓名, 班級, 座號, 學號" no-label-float value="{{filterString::input}}"></paper-input>
                </paper-toolbar>
                <div>
                    <template is="dom-repeat" items="[[students]]" filter="{{_filterStudent(filterString)}}">
                        <paper-item on-tap="_selectItem">
                            <div style="min-width:24px">[[item.seat_no]]</div>
                            <div class="flex">[[item.name]]</div>
                            <div>[[item.class_name]]</div>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <paper-header-panel mode="waterfall" main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:list" paper-drawer-toggle></paper-icon-button>
                    <div class="title">[[targetStudent.seat_no]] [[targetStudent.name]]</div>
                    <div class="sbar">
                        <paper-tabs id="tabs" selected="0" no-bar>
                            <paper-tab on-tap="_showAddNew">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">請假記錄</span>
                            </paper-tab>
                            <paper-tab on-tap="_showList">
                                <iron-icon icon="icons:event"></iron-icon>
                                <span style="margin-left:4px">缺曠記錄</span>
                            </paper-tab>
                        </paper-tabs>
                    </div>
                    <paper-menu-button class="smenu" horizontal-align="right">
                        <paper-icon-button icon="icons:more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                            <paper-item on-tap="_showAddNew">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">請假記錄</span>
                            </paper-item>
                            <paper-item on-tap="_showList">
                                <iron-icon icon="icons:event"></iron-icon>
                                <span style="margin-left:4px">缺曠記錄</span>
                            </paper-item>
                        </paper-menu>
                    </paper-menu-button>
                </paper-toolbar>
                <div>
                    <div list hidden$="[[hiddenList]]">
                        <paper-material elevation="1" style="background:#fff">
                            <div style="padding:16px">
                                <div class="layout horizontal center wrap" hidden$="[[hiddenList]]">
                                    <paper-input label="學年度" value="{{defaultYear.SchoolYear}}" style="width:100px"></paper-input>
                                    <div style="width:10px"></div>
                                    <paper-dropdown-menu label="學期" style="width:100px">
                                        <paper-menu class="dropdown-content" selected="{{defaultYear.Semester}}" attr-for-selected="value">
                                            <paper-item value="1">上學期</paper-item>
                                            <paper-item value="2">下學期</paper-item>
                                        </paper-menu>
                                    </paper-dropdown-menu>
                                </div>
                                <div style="overflow:auto;width:100%;padding:10px 0">
                                    <table>
                                        <thead>
                                            <template is="dom-repeat" items="[[summary]]" filter="{{_filterSummary(defaultYear.SchoolYear, defaultYear.Semester)}}">
                                                <tr>
                                                    <template is="dom-repeat" items="[[item.Absences]]">
                                                        <th>[[item.key]]</th>
                                                    </template>
                                                </tr>
                                            </template>
                                        </thead>
                                        <tbody>
                                            <template is="dom-repeat" items="[[summary]]" filter="{{_filterSummary(defaultYear.SchoolYear, defaultYear.Semester)}}">
                                                <tr>
                                                    <template is="dom-repeat" items="[[item.Absences]]">
                                                        <td>[[item.value]]</td>
                                                    </template>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="overflow:auto;width:100%;padding:10px 0">
                                    <table>
                                        <thead>
                                            <th style="width:120px">日期</th>
                                            <template is="dom-repeat" items="[[periods]]">
                                                <th>[[item.Name]]</th>
                                            </template>
                                        </thead>
                                        <tbody>
                                            <template is="dom-repeat" items="[[attendances]]" filter="{{_filterAttendance(defaultYear.SchoolYear, defaultYear.Semester)}}">
                                                <tr>
                                                    <td style="white-space:nowrap">[[item.Date]]</td>
                                                    <template is="dom-repeat" items="[[item.Periods]]">
                                                        <td style="[[_style(item)]]">[[item.Abbreviation]]</td>
                                                    </template>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </paper-material>
                    </div>
                    <div addnew hidden$="[[hiddenAddNew]]">
                        <div class="leave-item">
                            <div class="layout horizontal center wrap tbar">
                                <div class="layout horizontal center flex-auto secondary-text-color" hidden$="[[target.UID]]">
                                    <iron-icon icon="icons:description"></iron-icon>
                                    <span style="margin-left:5px">請假單</span>
                                </div>
                                <div class="layout horizontal center flex-auto secondary-text-color" hidden$="[[!target.UID]]">
                                    <iron-icon icon="icons:verified-user"></iron-icon>
                                    <span>[[target.UQID]]</span>
                                </div>
                                <div class="layout horizontal end-justified flex-auto secondary-text-color">
                                    <paper-icon-button class="tpib" icon="icons:save" on-tap="_save"></paper-icon-button>
                                    <paper-icon-button class="tpib" icon="icons:clear" on-tap="_clear"></paper-icon-button>
                                </div>
                            </div>
                            <paper-material elevation="1" style="background:#fff">
                                <div style="padding:16px">
                                    <div>
                                        <paper-textarea label="請假事由" value="{{target.Reason}}"></paper-textarea>
                                        <div class="layout horizontal center wrap">
                                            <paper-dropdown-menu label="選取假別" style="width:120px">
                                                <paper-menu class="dropdown-content" selected="{{chooseAbsence}}" attr-for-selected="value">
                                                    <template is="dom-repeat" items="[[absences]]">
                                                        <paper-item value="[[item]]" style="min-width:70px">[[item.Title]]</paper-item>
                                                    </template>
                                                </paper-menu>
                                            </paper-dropdown-menu>
                                            <div style="width:20px"></div>
                                            <paper-button class="secondary-text-color" on-tap="_showDateDialog">
                                                <iron-icon icon="icons:event"></iron-icon>
                                                <span style="margin-left:5px">加入日期</span>
                                            </paper-button>
                                        </div>
                                    </div>
                                    <div style="overflow:auto;width:100%;padding:20px 0">
                                        <table>
                                            <thead>
                                                <th style="width:120px">日期</th>
                                                <template is="dom-repeat" items="[[periods]]">
                                                    <th>[[item.Name]]</th>
                                                </template>
                                                <th style="padding:0"></th>
                                            </thead>
                                            <tbody>
                                                <template is="dom-repeat" items="[[target.Dates]]">
                                                    <tr>
                                                        <td style="white-space:nowrap">[[item.FullDate]]</td>
                                                        <template is="dom-repeat" items="[[item.Periods]]">
                                                            <td style="cursor:pointer" on-mouseover="_chooseAbsence" on-tap="_chooseAbsence">[[item.Abbreviation]]</td>
                                                        </template>
                                                        <td style="padding:0">
                                                            <paper-icon-button class="secondary-text-color" icon="icons:clear" on-tap="_removeDate"></paper-icon-button>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </paper-material>
                        </div>
                        <div hidden$="[[hiddenOnEdit]]">
                            <template is="dom-repeat" items="[[leaveItems]]">
                                <div class="leave-item">
                                    <div class="layout horizontal center wrap tbar">
                                        <div class="layout horizontal center flex-auto secondary-text-color">
                                            <iron-icon icon="icons:verified-user"></iron-icon>
                                            <span>[[item.uqid]]</span>
                                        </div>
                                        <div class="layout horizontal end-justified flex-auto secondary-text-color" hidden$="[[item.approved]]">
                                            <paper-icon-button class="tpib" icon="icons:create" on-tap="_showEdit"></paper-icon-button>
                                            <paper-icon-button class="tpib" icon="icons:print" on-tap="_showPrint"></paper-icon-button>
                                            <paper-icon-button class="tpib" icon="icons:delete" on-tap="_showDelete"></paper-icon-button>
                                        </div>
                                        <div class="error-text-color" style="padding:4px" hidden$="[[!item.approved]]">已進入系統</div>
                                    </div>
                                    <paper-material elevation="1" style="background:#fff">
                                        <div style="padding:16px">
                                            <div style="color:rgba(0,0,0,.87);word-wrap:break-word">[[item.content.Reason]]</div>
                                            <div style="overflow:auto;width:100%;padding:20px 0">
                                                <table>
                                                    <thead>
                                                        <th style="width:120px">日期</th>
                                                        <template is="dom-repeat" items="[[periods]]">
                                                            <th>[[item.Name]]</th>
                                                        </template>
                                                    </thead>
                                                    <tbody>
                                                        <template is="dom-repeat" items="[[item.content.Dates]]">
                                                            <tr>
                                                                <td style="white-space:nowrap">[[item.FullDate]]</td>
                                                                <template is="dom-repeat" items="[[item.Periods]]">
                                                                    <td>[[item.Abbreviation]]</td>
                                                                </template>
                                                            </tr>
                                                        </template>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </paper-material>
                            </template>
                            </div>
                        </div>
                    </div>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <paper-dialog modal id="dateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissDateDialog">
            <paper-date-picker id="datePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="deleteDialog">
            <h3>確定刪除此筆假單【[[delTarget.uqid]]】？</h3>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button on-tap="_delete">OK</paper-button>
            </div>
        </paper-dialog>
        <div id="print" style="display:none">
            <h1 style="text-align:center">[[schoolInfo.ChineseName]] 學生請假單</h1>
            <div style="text-align:center;font-size:16px;line-height:22px">請用A4紙張將此頁印出, 並檢附相關請假證明資料, 向生輔組辦理請假手續.</div>
            <div style="text-align:center;font-size:16px;line-height:22px">
                <span>學號:[[targetStudent.student_number]]</span>
                <span style="margin-left:4px">班級:[[targetStudent.class_name]]</span>
                <span style="margin-left:4px">座號:[[targetStudent.seat_no]]</span>
                <span style="margin-left:4px">學生:[[targetStudent.name]]</span>
                <span style="margin-left:4px">印表日期:[[printTarget.printTime]]</span>
            </div>
            <div style="margin-top:20px;display:flex;flex-direction:row;align-items:center;justify-content:center"><img id="barcode" /></div>
            <div style="margin-top:20px">
                <table style="border-spacing:0;border-collapse:collapse;width:100%;margin:10px 0">
                    <thead>
                        <template is="dom-repeat" items="[[summary]]" filter="{{_filterSummary(currentYear.SchoolYear, currentYear.Semester)}}">
                            <tr>
                                <template is="dom-repeat" items="[[item.Absences]]">
                                    <th style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px;background:rgba(0,0,0,.087)">[[item.key]]</th>
                                </template>
                            </tr>
                        </template>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="[[summary]]" filter="{{_filterSummary(currentYear.SchoolYear, currentYear.Semester)}}">
                            <tr>
                                <template is="dom-repeat" items="[[item.Absences]]">
                                    <td style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px">[[item.value]]</td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div style="margin-top:40px">
                <div>請假事由：</div>
                <div>[[printTarget.content.Reason]]</div>
                <table style="border-spacing:0;border-collapse:collapse;width:100%;margin:10px 0">
                    <thead>
                        <tr>
                            <th style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:120px;white-space:nowrap;font-size:14px;background:rgba(0,0,0,.087)">日期</th>
                            <template is="dom-repeat" items="[[periods]]">
                                <th style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px;background:rgba(0,0,0,.087)">[[item.Name]]</th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="[[printTarget.content.Dates]]">
                            <tr>
                                <td style="white-space:nowrap;border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px">[[item.FullDate]]</td>
                                <template is="dom-repeat" items="[[item.Periods]]">
                                    <td style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px">[[item.Abbreviation]]</td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div style="margin-top:40px">
                <table style="border-spacing:0;border-collapse:collapse;width:100%;margin:10px 0">
                    <tbody>
                        <tr>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:70px;height:50px;font-size:16px">{{signers.0}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:120px;height:50px;font-size:16px">&nbsp;</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:70px;height:50px;font-size:16px">{{signers.1}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:120px;height:50px;font-size:16px">&nbsp;</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:70px;height:50px;font-size:16px">{{signers.2}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:120px;height:50px;font-size:16px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:70px;height:50px;font-size:16px">{{signers.3}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:120px;height:50px;font-size:16px">&nbsp;</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:70px;height:50px;font-size:16px">{{signers.4}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:120px;height:50px;font-size:16px">&nbsp;</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:70px;height:50px;font-size:16px">{{signers.5}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;width:120px;height:50px;font-size:16px">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-leave-for-teacher",

            properties: {
                /*
                 * 學生請假 (zh-tw), 学生请假 (zh-cn), Take a leave (en-us)
                 */
                title: {
                    type: Object,
                    readOnly: true
                },
                filterString: String,
                currentYear: Object,
                students: Array,
                summary: Array,
                periods: Array,
                attendances: Array,
                absences: Array,
                leaveItems: Array,
                chooseDate: Object,
                chooseAbsence: Object,
                schoolInfo: Object,
                delTarget: Object,
                printTarget: Object,
                targetStudent: Object
            },

            behaviors: [Campus.ServiceBehavior],

            ready: function() {
                this._setTitle({
                    'zh-tw': '學生請假',
                    'zh-cn': '学生请假',
                    'en-us': 'Take a leave'
                });

                this.set('campus', JSON.parse(JSON.stringify(window.Campus)));

                this._getSchoolInfo();
                this._getMyStudents();
                this._getCurrentYear();
                this._getPeriodTable();
                this._getConfig();

                this.set('hiddenList', true);
                this.set('hiddenAddNew', true);

                this.$.drawerPanel.openDrawer();

                moment.locale('zh-tw');
            },

            _style: function(item) {
                if (['曠', '遲'].indexOf(item.value) !== -1) return 'color:rgba(255,0,0,.87)';
            },

            _filterStudent: function(value) {
                if (!value)
                    return null;
                else {
                    value = value.toLowerCase();
                    return function(item) {
                        return (item.name.toLowerCase().indexOf(value) !== -1 ||
                            item.class_name.toLowerCase().indexOf(value) !== -1 ||
                            item.seat_no.toLowerCase().indexOf(value) !== -1 ||
                            item.student_number.toLowerCase().indexOf(value) !== -1);
                    };
                }
            },

            _selectItem: function(e) {
                this.students.forEach(function(item, index) {
                    if (item.id === e.model.item.id)
                        this.set(['students.', index, '.selected'].join(''), true);
                    else
                        this.set(['students.', index, '.selected'].join(''), false);
                }.bind(this));

                this.set('targetStudent', e.model.item);
                this._getAttendance();
                this._getLeaveRecord();

                this._showAddNew();

                this.$.tabs.selected = 0;

                this.$.drawerPanel.closeDrawer();
            },

            _getSchoolInfo: function() {
                var request = {
                    contract: 'basic.public',
                    service: '_.GetSchoolInfo',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('schoolInfo', response);
                }.bind(this));
            },

            _getMyStudents: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetMyStudents',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('students', [].concat(response.Students.Student || []));
                }.bind(this));
            },

            _getCurrentYear: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetCurrentYear',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('currentYear', {
                        SchoolYear: response.SchoolYear,
                        Semester: response.Semester
                    });
                    this.set('defaultYear', {
                        SchoolYear: response.SchoolYear,
                        Semester: response.Semester
                    });
                }.bind(this));
            },

            _getPeriodTable: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetPeriodTable',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    var items = [];
                    [].concat(response.Periods.Period || []).forEach(function(item) {
                        items.push(item.$);
                    });

                    this.set('periods', items);
                }.bind(this));
            },

            _getConfig: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetConfig',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    var items = [{
                            Name: '-',
                            Abbreviation: '-'
                        }],
                        items2 = [];
                    [].concat(response.AbsenceList.Absence || []).forEach(function(item) {
                        if (item.$.AllowAbsence === 'true')
                            items.push(item.$);

                        items2.push(item.$);
                    });

                    items.forEach(function(item) {
                        if (item.Name !== '-')
                            item.Title = ['(', item.Abbreviation, ') ', item.Name].join('');
                        else
                            item.Title = '-';
                    });

                    this.set('absences', items);
                    this.set('allAbsences', items2);
                    this.set('signers', [].concat(response.RequestSignTitle || []));
                }.bind(this));
            },

            _getAttendance: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetAttendance',
                    body: {
                        Condition: {
                            SID: this.targetStudent.id
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    var attendances = [],
                        summary = [];
                    if (response && response.Items) {
                        [].concat(response.Items.Item || []).forEach(function(item) {
                            var periods = [];
                            this.periods.forEach(function(p) {
                                var period = {
                                    Name: p.Name,
                                    Abbreviation: '',
                                    Absence: ''
                                };

                                if (item.Periods) {
                                    [].concat(item.Periods.Period || []).forEach(function(a) {
                                        if (a._ === p.Name) {
                                            this.allAbsences.forEach(function(s) {
                                                if (s.Name === a.$.AbsenceType) {
                                                    period.Abbreviation = s.Abbreviation;
                                                    period.Absence = s.Name;
                                                }
                                            });
                                        }
                                    }.bind(this));
                                }

                                var temp = null;
                                summary.forEach(function(s) {
                                    if (s.SchoolYear === item.SchoolYear && s.Semester === item.Semester)
                                        temp = s;
                                });

                                if (!temp) {
                                    temp = {
                                        SchoolYear: item.SchoolYear,
                                        Semester: item.Semester,
                                        Absences: []
                                    };

                                    this.allAbsences.forEach(function(a) {
                                        temp.Absences.push({
                                            key: a.Abbreviation,
                                            value: 0
                                        })
                                    });

                                    summary.push(temp);
                                }

                                temp.Absences.forEach(function(a) {
                                    if (a.key === period.Abbreviation)
                                        a.value += 1;
                                });

                                periods.push(period);
                            }.bind(this));

                            attendances.push({
                                SchoolYear: item.SchoolYear,
                                Semester: item.Semester,
                                Date: item.Date,
                                Periods: periods
                            });
                        }.bind(this));
                    }

                    this.set('attendances', attendances);
                    this.set('summary', summary);
                }.bind(this));
            },

            _filterSummary: function(schoolYear, semester) {
                if (!schoolYear && !semester)
                    return null;
                else {
                    return function(item) {
                        var result = false;
                        if (item.SchoolYear === schoolYear && item.Semester === semester)
                            result = true;
                        return result;
                    };
                }
            },

            _filterAttendance: function(schoolYear, semester) {
                if (!schoolYear && !semester)
                    return null;
                else {
                    return function(item) {
                        var result = false;
                        if (item.SchoolYear === schoolYear && item.Semester === semester)
                            result = true;
                        return result;
                    };
                }
            },

            _getLeaveRecord: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetLeaveRecord',
                    body: {
                        Condition: {
                            SID: this.targetStudent.id
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    var items = [];
                    if (response && response.LeaveItems) {
                        [].concat(response.LeaveItems.Item || []).forEach(function(item) {
                            item.content = JSON.parse(item.content);
                            item.content.Dates.forEach(function(d, _x) {
                                var periods = [];
                                this.periods.forEach(function(p, _y) {
                                    periods.push({
                                        Period: p.Name,
                                        _x: _x,
                                        _y: _y
                                    });
                                });

                                periods.forEach(function(p1) {
                                    d.Periods.forEach(function(p2) {
                                        if (p1.Period === p2.Period)
                                            p1.Abbreviation = p2.Abbreviation || '-';
                                    });
                                });

                                d.Periods = JSON.parse(JSON.stringify(periods));
                                d.FullDate = [moment(d.Date).format('YYYY/MM/DD'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment(d.Date).day()], ')'].join('');
                            }.bind(this));
                            item.approved = item.approved === 't';

                            items.push(item);
                        }.bind(this));
                    }

                    this.set('leaveItems', items);
                }.bind(this));
            },

            _showList: function() {
                this.set('hiddenList', false);
                this.set('hiddenAddNew', true);
            },

            _showAddNew: function() {
                this.set('hiddenList', true);
                this.set('hiddenAddNew', false);

                if (!this.target) {
                    this.set('chooseDate', moment(this.$.datePicker.date).format('YYYY/MM/DD'));
                    this.absences.forEach(function(item) {
                        if (item.Abbreviation === '病') this.set('chooseAbsence', item);
                    }.bind(this));

                    this.set('target', {
                        Dates: []
                    });
                }
            },

            _showEdit: function(e) {
                this.set('hiddenList', true);
                this.set('hiddenAddNew', false);

                this.set('chooseDate', moment(this.$.datePicker.date).format('YYYY/MM/DD'));
                this.absences.forEach(function(item) {
                    if (item.Abbreviation === '病') this.set('chooseAbsence', item);
                }.bind(this));

                this.set('target', {
                    UQID: e.model.item.uqid,
                    UID: e.model.item.uid,
                    Reason: e.model.item.content.Reason,
                    Dates: e.model.item.content.Dates
                });

                this.set('hiddenOnEdit', true);
            },

            _save: function(e) {
                var dates = [];
                this.target.Dates.forEach(function(item) {
                    var periods = [];
                    item.Periods.forEach(function(p) {
                        var temp = {
                            Period: p.Period,
                            Absence: '',
                            Abbreviation: ''
                        };

                        this.absences.forEach(function(a) {
                            if (a.Abbreviation === p.Abbreviation) {
                                temp.Absence = a.Name !== '-' ? a.Name : '';
                                temp.Abbreviation = a.Abbreviation !== '-' ? a.Abbreviation : '';
                            }
                        });

                        periods.push(temp);
                    }.bind(this));

                    dates.push({
                        Date: item.Date,
                        Periods: periods
                    })
                }.bind(this));

                var request = {
                    contract: 'ischool.leave.teacher',
                    service: this.target.UID ? '_.UpdateLeaveRecord' : '_.AddLeaveRecord',
                    body: this.target.UID ? {
                        Content: {
                            UID: this.target.UID,
                            SID: this.targetStudent.id,
                            Content: JSON.stringify({
                                Reason: this.target.Reason,
                                Dates: dates
                            })
                        }
                    } : {
                        Content: {
                            SID: this.targetStudent.id,
                            Content: JSON.stringify({
                                Reason: this.target.Reason,
                                Dates: dates
                            })
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response.Result) {
                        this._getLeaveRecord();
                        this._clear();
                    }
                }.bind(this));
            },

            _showDelete: function(e) {
                this.set('delTarget', e.model.item);
                this.$.deleteDialog.toggle();
            },

            _delete: function(e) {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.DeleteLeaveRecord',
                    body: {
                        Condition: {
                            UID: this.delTarget.uid,
                            SID: this.targetStudent.id
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response.Result) {
                        this._getLeaveRecord();
                        this._clear();
                    }
                }.bind(this));

                this.set('delTarget', null);
                this.$.deleteDialog.toggle();
            },

            _clear: function(e) {
                this.set('chooseDate', moment().format('YYYY/MM/DD'));
                this.absences.forEach(function(item) {
                    if (item.Abbreviation === '病') this.set('chooseAbsence', item);
                }.bind(this));

                this.set('target', {
                    Dates: []
                });

                this.set('hiddenOnEdit', false);
            },

            _addDate: function() {
                var item = {
                    FullDate: [moment(this.chooseDate).format('YYYY/MM/DD HH:mm'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment(this.chooseDate).day()], ')'].join(''),
                    Date: this.chooseDate,
                    Periods: []
                };

                var record = null;
                this.attendances.forEach(function(r) {
                    if (r.Date.replace(/-/ig, '/') === this.chooseDate)
                        record = r;
                }.bind(this));

                this.periods.forEach(function(period, index) {
                    var temp = {
                        Period: period.Name,
                        Abbreviation: '-',
                        Absence: '',
                        _x: this.target.Dates.length,
                        _y: index
                    };

                    if (record) {
                        [].concat(record.Periods || []).forEach(function(p) {
                            if (p.Name === temp.Period) {
                                temp.Abbreviation = p.Abbreviation;
                                temp.Absence = p.Absence;
                            }
                        }.bind(this));
                    }

                    item.Periods.push(temp);
                }.bind(this));

                this.set('target.Dates', this.target.Dates.concat(item));
            },

            _removeDate: function(e) {
                this.target.Dates.splice(e.model.index, 1);
                this.set('target.Dates', [].concat(this.target.Dates));
            },

            _chooseAbsence: function(e) {
                this.set(['target.Dates.', e.model.item._x, '.Periods.', e.model.item._y, '.Abbreviation'].join(''), this.chooseAbsence.Abbreviation);
            },

            _showDateDialog: function(e) {
                this.$.dateDialog.toggle();
            },

            _dismissDateDialog: function(e) {
                if (e.detail.confirmed) {
                    this.set('chooseDate', moment(this.$.datePicker.date).format('YYYY/MM/DD'));
                    this._addDate();
                }
            },

            _showPrint: function(e) {
                JsBarcode("#barcode", e.model.item.uqid, {
                    format: "CODE39",
                    width: 1,
                    height: 40,
                    font: "sans-serif",
                    fontSize: 16
                });

                e.model.item.printTime = [moment().format('YYYY/MM/DD HH:mm'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment().day()], ')'].join('');
                this.set('printTarget', e.model.item);

                setTimeout(function() {
                    var pw = window.open('', '', 'left=200,height=840,width=740');
                    pw.document.write(this.$.print.innerHTML);
                    pw.document.close();
                    pw.focus();
                    pw.print();
                }.bind(this), 100);
            },
        });
    </script>
</dom-module>
