<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<script src="../JsBarcode/dist/JsBarcode.all.min.js"></script>
<!--
`campus-leave-for-statutory-reasons`
@demo demo/campus-leave-for-statutory-reasons.html
-->
<dom-module id="campus-leave-for-statutory-reasons">
    <style include="iron-flex iron-flex-alignment"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }

        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }

        :host .primary-text-color {
            color: var(--primary-color);
        }

        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }

        :host .error-text-color {
            color: var(--error-color);
        }

        :host table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        :host th {
            background: rgba(0, 0, 0, .087);
        }

        :host th,
        :host td {
            border: 1px solid #ccc;
            padding: 5px;
            margin: -1px 0 0 -1px;
            text-align: center;
            width: 40px;
            white-space: nowrap;
        }

        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }

        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }

        @media (min-width: 769px) {
            :host .leave-item {
                margin: 8px 12px;
            }
        }

        @media (max-width: 768px) {
            :host .leave-item {
                margin-top: 8px;
            }
        }

        @media (min-width: 1024px) {
            :host .leave-item {
                margin: 8px auto;
                max-width: 1000px;
            }
        }
    </style>
    <template>
        <content>
            <paper-header-panel mode="waterfall">
                <div style="">
                    <div class="leave-item">
                        <div class="layout horizontal center wrap tbar">
                            <div class="layout horizontal center flex secondary-text-color" hidden$="[[target.UID]]">
                                <iron-icon icon="icons:description"></iron-icon>
                                <span style="margin-left:5px">請假單</span>
                            </div>
                            <div class="layout horizontal center flex secondary-text-color" hidden$="[[!target.UID]]">
                                <iron-icon icon="icons:verified-user"></iron-icon>
                                <span>[[target.UQID]]</span>
                            </div>
                            <div class="layout horizontal end-justified flex-auto secondary-text-color">
                                <paper-icon-button class="tpib" icon="icons:save" on-tap="_save"></paper-icon-button>
                                <paper-icon-button class="tpib" icon="icons:clear" on-tap="_clear"></paper-icon-button>
                            </div>
                        </div>
                        <paper-material elevation="1" style="background:#fff">
                            <div style="padding:16px">
                                <div class="layout horizontal center wrap">
                                    <paper-button class="secondary-text-color" on-tap="_showDateDialog">
                                        <iron-icon icon="icons:event"></iron-icon>
                                        <span style="margin-left:5px">加入日期</span>
                                    </paper-button>
                                    <paper-button class="secondary-text-color" on-tap="_showStudentDialog">
                                        <iron-icon icon="icons:account-box"></iron-icon>
                                        <span style="margin-left:5px">編輯學生</span>
                                    </paper-button>
                                </div>
                                <div class="layout horizontal center wrap" style="padding:20px 0 10px">
                                    <template is="dom-repeat" items="[[target.Students]]">
                                        <div style="border:1px solid #ccc;border: 1px solid #ccc;padding: 5px 10px;margin: 0 5px 5px 0;color:rgba(0,0,0,.87)">
                                            <span>([[item.class_name]]) [[item.seat_no]] [[item.name]]</span>
                                        </div>
                                    </template>
                                </div>
                                <div style="padding:10px 0">
                                    <paper-textarea label="事由" value="{{target.Reason}}"></paper-textarea>
                                </div>
                                <div style="overflow:auto;width:100%;padding:10px 0">
                                    <table>
                                        <thead>
                                            <th style="width:120px">日期</th>
                                            <template is="dom-repeat" items="[[periods]]">
                                                <th>[[item.Name]]</th>
                                            </template>
                                            <th style="padding:0"></th>
                                        </thead>
                                        <tbody>
                                            <template is="dom-repeat" items="[[target.Dates]]">
                                                <tr>
                                                    <td style="white-space:nowrap">
                                                        <paper-button style="padding:3px 8px;margin:0" on-tap="_showDateDialog">[[item.FullDate]]</paper-button>
                                                    </td>
                                                    <template is="dom-repeat" items="[[item.Periods]]">
                                                        <td style="cursor:pointer" on-mouseover="_chooseAbsence" on-tap="_chooseAbsence">[[item.Abbreviation]]</td>
                                                    </template>
                                                    <td style="padding:0">
                                                        <paper-icon-button class="secondary-text-color" icon="icons:clear" on-tap="_removeDate"></paper-icon-button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </paper-material>
                    </div>
                    <div hidden$="[[hiddenOnEdit]]">
                        <template is="dom-repeat" items="[[leaveItems]]">
                            <div class="leave-item">
                                <div class="layout horizontal center wrap tbar">
                                    <div class="layout horizontal center flex-auto secondary-text-color">
                                        <iron-icon icon="icons:verified-user"></iron-icon>
                                        <span>[[item.uqid]]</span>
                                    </div>
                                    <div class="layout horizontal end-justified flex-auto secondary-text-color" hidden$="[[item.approved]]">
                                        <paper-icon-button class="tpib" icon="icons:create" on-tap="_showEdit"></paper-icon-button>
                                        <paper-icon-button class="tpib" icon="icons:print" on-tap="_showPrint"></paper-icon-button>
                                        <paper-icon-button class="tpib" icon="icons:delete" on-tap="_showDelete"></paper-icon-button>
                                        <paper-icon-button class="tpib" icon="icons:content-copy" on-tap="_showCopy"></paper-icon-button>
                                    </div>
                                    <div class="layout horizontal end-justified flex-auto secondary-text-color" hidden$="[[!item.approved]]">
                                        <div class="error-text-color" style="padding:4px">已進入系統</div>
                                        <paper-icon-button class="tpib" icon="icons:content-copy" on-tap="_showCopy"></paper-icon-button>
                                    </div>
                                </div>
                                <paper-material elevation="1" style="background:#fff">
                                    <div style="padding:16px">
                                        <div class="layout horizontal center wrap" style="padding:20px 0">
                                            <template is="dom-repeat" items="[[item.content.Students]]">
                                                <div style="border:1px solid #ccc;padding:5px 10px;margin:0 5px 5px 0">([[item.class_name]]) [[item.seat_no]] [[item.name]]</div>
                                            </template>
                                        </div>
                                        <div style="color:rgba(0,0,0,.87);word-wrap:break-word">[[item.content.Reason]]</div>
                                        <div style="overflow:auto;width:100%;padding:20px 0">
                                            <table>
                                                <thead>
                                                    <th style="width:120px">日期</th>
                                                    <template is="dom-repeat" items="[[periods]]">
                                                        <th>[[item.Name]]</th>
                                                    </template>
                                                </thead>
                                                <tbody>
                                                    <template is="dom-repeat" items="[[item.content.Dates]]">
                                                        <tr>
                                                            <td style="white-space:nowrap">[[item.FullDate]]</td>
                                                            <template is="dom-repeat" items="[[item.Periods]]">
                                                                <td>[[item.Abbreviation]]</td>
                                                            </template>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </paper-material>
                            </div>
                        </template>
                    </div>
                </div>
            </paper-header-panel>
        </content>
        <paper-dialog modal id="dateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissDateDialog">
            <paper-date-picker id="datePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="deleteDialog">
            <h3>確定刪除此筆假單【[[delTarget.uqid]]】？</h3>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button on-tap="_delete">OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="studentDialog">
            <paper-dialog-scrollable>
                <div class="layout horizontal wrap">
                    <div class="flex-auto" style="margin-right:10px;width:240px">
                        <paper-dropdown-menu label="選取班級">
                            <paper-menu class="dropdown-content" selected="0">
                                <template is="dom-repeat" items="[[classes]]">
                                    <paper-item on-tap="_getStudents">[[item.class_name]]</paper-item>
                                </template>
                            </paper-menu>
                        </paper-dropdown-menu>
                        <template is="dom-repeat" items="[[students]]">
                            <paper-item class="layout horizontal" style="border:1px solid #eee;margin-top:5px">
                                <div class="flex-auto">([[item.class_name]]) [[item.seat_no]] [[item.name]]</div>
                                <paper-icon-button icon="icons:add" on-tap="_addStudent"></paper-icon-button>
                            </paper-item>
                        </template>
                    </div>
                    <div class="flex-auto" style="margin-left:10px;width:240px">
                        <div style="height: 62px"></div>
                        <template is="dom-repeat" items="[[editStudents]]">
                            <paper-item class="layout horizontal" style="border:1px solid #eee;margin-top:5px">
                                <div class="flex-auto">([[item.class_name]]) [[item.seat_no]] [[item.name]]</div>
                                <paper-icon-button icon="icons:clear" on-tap="_removeStudent"></paper-icon-button>
                            </paper-item>
                        </template>
                    </div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-dismiss on-tap="_chooseStudents">OK</paper-button>
            </div>
        </paper-dialog>
        <div id="print" style="display:none">
            <h1 style="text-align:center">[[schoolInfo.ChineseName]] 學生公假單</h1>
            <div style="text-align:center;font-size:16px;line-height:22px">印表日期：[[printTarget.printTime]]</div>
            <div style="margin-top:20px;display:flex;flex-direction:row;align-items:center;justify-content:center"><img id="barcode" /></div>
            <div style="margin-top:20px">
                <div>事由：</div>
                <div>[[printTarget.content.Reason]]</div>
                <table style="border-spacing:0;border-collapse:collapse;width:100%;margin:10px 0">
                    <thead>
                        <tr>
                            <th style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:120px;white-space:nowrap;font-size:14px;background:rgba(0,0,0,.087)">日期</th>
                            <template is="dom-repeat" items="[[periods]]">
                                <th style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px;background:rgba(0,0,0,.087)">[[item.Name]]</th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="[[printTarget.content.Dates]]">
                            <tr>
                                <td style="white-space:nowrap;border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px">[[item.FullDate]]</td>
                                <template is="dom-repeat" items="[[item.Periods]]">
                                    <td style="border:1px solid #777;padding:5px;margin:-1px 0 0 -1px;text-align:center;width:40px;white-space:nowrap;font-size:14px">[[item.Abbreviation]]</td>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div style="margin-top:20px">
                <template is="dom-repeat" items="[[printTarget.classes]]" as="class">
                    <div style="margin:10px 0">
                        <div style="line-height:32px">[[class.Name]] 導師簽名 : </div>
                        <div style="display:flex;flex-direction:row;align-items:flex-start;justify-content:flex-start;flex-wrap:wrap">
                            <template is="dom-repeat" items="[[class.Students]]" as="student">
                                <div style="border:1px solid #ccc;padding:5px 10px;margin:0 5px 5px 0">[[student.seat_no]] [[student.name]]</div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
            <div style="margin-top:40px">
                <table style="border-spacing:0;border-collapse:collapse;width:100%;margin:10px 0">
                    <tbody>
                        <tr>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px">{{signers.0}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px">{{signers.1}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px">{{signers.2}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px">{{signers.3}}</td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px">{{signers.4}}</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px;height:60px"></td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px;height:60px"></td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px;height:60px"></td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px;height:60px"></td>
                            <td style="border:1px solid #777;padding:10px;margin:-1px 0 0 -1px;text-align:center;font-size:16px;height:60px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-leave-for-statutory-reasons",

            properties: {
                /*
                 * 公假填報 (zh-tw), 公假填报 (zh-cn), Leave for Statutory Reasons (en-us)
                 */
                title: {
                    type: Object,
                    readOnly: true
                },
                classes: Array,
                students: Array,
                periods: Array,
                leaveItems: Array,
                schoolInfo: Object,
                delTarget: Object,
                printTarget: Object
            },

            behaviors: [Campus.ServiceBehavior],

            ready: function() {
                this._setTitle({
                    'zh-tw': '公假填報',
                    'zh-cn': '公假填报',
                    'en-us': 'Leave for Statutory Reasons'
                });

                this.set('campus', JSON.parse(JSON.stringify(window.Campus)));

                this._getSchoolInfo();
                this._getClasses();
                this._getCurrentYear();
                this._getPeriodTable();
                this._getConfig();

                this.set('target', {
                    Students: [],
                    Dates: []
                });

                moment.locale('zh-tw');
            },

            _showStudentDialog: function(e) {
                this.set('editStudents', [].concat(this.target.Students));
                this.$.studentDialog.open();
            },

            _addStudent: function(e) {
                var flag = false;
                this.editStudents.forEach(function(s) {
                    if (s.id === e.model.item.id)
                        flag = true;
                });

                if (!flag)
                    this.push('editStudents', e.model.item);
            },

            _removeStudent: function(e) {
                var idx = -1;
                this.editStudents.forEach(function(s, i) {
                    if (s.id === e.model.item.id)
                        idx = i;
                });
                if (idx !== -1)
                    this.splice('editStudents', idx, 1);
            },

            _chooseStudents: function(e) {
                this.set('target.Students', [].concat(this.editStudents));
            },

            _getSchoolInfo: function() {
                var request = {
                    contract: 'basic.public',
                    service: '_.GetSchoolInfo',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('schoolInfo', response);
                }.bind(this));
            },

            _getClasses: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetClasses',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('classes', [].concat(response.Classes.Class || []));
                    this._getStudents({
                        model: {
                            item: this.classes[0]
                        }
                    });
                }.bind(this));
            },

            _getStudents: function(e) {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetStudents',
                    body: {
                        CID: e.model.item.id
                    }
                }

                this.generateRequest(request, function(response) {
                    this.set('students', [].concat(response.Students.Student || []));
                }.bind(this));
            },

            _getCurrentYear: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetCurrentYear',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('defaultYear', response);
                    // this._getLeaveRecord();
                }.bind(this));
            },

            _getPeriodTable: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetPeriodTable',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    var items = [];
                    [].concat(response.Periods.Period || []).forEach(function(item) {
                        items.push(item.$);
                    });

                    this.set('periods', items);
                    this._getLeaveRecord();
                }.bind(this));
            },

            _getConfig: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetConfig',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    this.set('signers', [].concat(response.AnnualSignTitle || []));
                    this.set('chooseAbsence', response.AnnualAbsence.$);
                }.bind(this));
            },

            _getLeaveRecord: function() {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.GetAnnualLeaveRecord',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    var items = [];
                    if (response && response.LeaveItems) {
                        [].concat(response.LeaveItems.Item || []).forEach(function(item) {
                            item.content = JSON.parse(item.content);
                            item.content.Dates.forEach(function(d, _x) {
                                var periods = [];
                                this.periods.forEach(function(p, _y) {
                                    periods.push({
                                        Period: p.Name,
                                        _x: _x,
                                        _y: _y
                                    });
                                });

                                periods.forEach(function(p1) {
                                    d.Periods.forEach(function(p2) {
                                        if (p1.Period === p2.Period)
                                            p1.Abbreviation = p2.Abbreviation || '-';
                                    });
                                });

                                d.Periods = JSON.parse(JSON.stringify(periods));
                                d.FullDate = [moment(d.Date).format('YYYY/MM/DD'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment(d.Date).day()], ')'].join('');
                            }.bind(this));
                            item.approved = item.approved === 't';

                            items.push(item);
                        }.bind(this));
                    }

                    this.set('leaveItems', items);
                }.bind(this));
            },

            _showEdit: function(e) {
                this.set('target', {
                    UID: e.model.item.uid,
                    UQID: e.model.item.uqid,
                    Reason: e.model.item.content.Reason,
                    Students: e.model.item.content.Students,
                    Dates: e.model.item.content.Dates
                });

                this.set('hiddenOnEdit', true);
            },

            _showCopy: function(e) {
                this.set('target', {
                    Reason: e.model.item.content.Reason,
                    Students: e.model.item.content.Students,
                    Dates: e.model.item.content.Dates
                });

                this.set('hiddenOnEdit', true);
            },

            _save: function(e) {
                var content = {
                    Reason: this.target.Reason,
                    Students: [],
                    Dates: []
                };

                this.target.Students.forEach(function(item) {
                    content.Students.push(item)
                });

                this.target.Dates.forEach(function(item) {
                    var periods = [];
                    item.Periods.forEach(function(p) {
                        periods.push({
                            Period: p.Period,
                            Absence: p.Abbreviation !== '-' ? '公假' : '',
                            Abbreviation: p.Abbreviation !== '-' ? p.Abbreviation : ''
                        });
                    });

                    content.Dates.push({
                        Date: item.Date,
                        Periods: periods
                    })
                });

                var request = {
                    contract: 'ischool.leave.teacher',
                    service: this.target.UID ? '_.UpdateAnnualLeaveRecord' : '_.AddAnnualLeaveRecord',
                    body: this.target.UID ? {
                        Content: {
                            UID: this.target.UID,
                            Content: JSON.stringify(content)
                        }
                    } : {
                        Content: JSON.stringify(content)
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response.Result) {
                        this._getLeaveRecord();
                        this._clear();
                    }
                }.bind(this));
            },

            _showDelete: function(e) {
                this.set('delTarget', e.model.item);
                this.$.deleteDialog.toggle();
            },

            _delete: function(e) {
                var request = {
                    contract: 'ischool.leave.teacher',
                    service: '_.DeleteAnnualLeaveRecord',
                    body: {
                        UID: this.delTarget.uid
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response.Result) {
                        this._getLeaveRecord();
                        this._clear();
                    }
                }.bind(this));

                this.set('delTarget', null);
                this.$.deleteDialog.toggle();
            },

            _clear: function(e) {
                this.set('target', {
                    Students: [],
                    Dates: []
                });

                this.set('hiddenOnEdit', false);
            },

            _addDate: function(date) {
                var item = {
                    FullDate: [moment(date).format('YYYY/MM/DD'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment(date).day()], ')'].join(''),
                    Date: moment(date).format('YYYY/MM/DD'),
                    Periods: []
                };

                this.periods.forEach(function(period, index) {
                    item.Periods.push({
                        Period: period.Name,
                        Abbreviation: '-',
                        Absence: '',
                        _x: this.target.Dates.length,
                        _y: index
                    });
                }.bind(this));

                this.set('target.Dates', this.target.Dates.concat(item));
            },

            _removeDate: function(e) {
                this.target.Dates.splice(e.model.index, 1);
                this.set('target.Dates', [].concat(this.target.Dates));
            },

            _chooseAbsence: function(e) {
                this.set(['target.Dates.', e.model.item._x, '.Periods.', e.model.item._y, '.Abbreviation'].join(''), this.chooseAbsence.Abbreviation);
            },

            _showDateDialog: function(e) {
                this.set('dateIdx', -1);

                if (e.model && e.model.item) {
                    this.$.datePicker.date = moment(e.model.item.Date).toDate();
                    this.set('dateIdx', e.model.index);
                    console.log(this.dateIdx)
                } else
                    this.$.datePicker.date = moment().toDate();

                this.$.dateDialog.toggle();
            },

            _dismissDateDialog: function(e) {
                if (e.detail.confirmed) {
                    if (this.dateIdx !== -1) {
                        this.set(['target.Dates.', this.dateIdx, '.FullDate'].join(''), [moment(this.$.datePicker.date).format('YYYY/MM/DD'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment(this.$.datePicker.date).day()], ')'].join(''))
                        this.set(['target.Dates.', this.dateIdx, '.Date'].join(''), moment(this.$.datePicker.date).format('YYYY/MM/DD'));
                    } else
                        this._addDate(moment(this.$.datePicker.date).format('YYYY/MM/DD'));
                }
            },

            _showPrint: function(e) {
                JsBarcode("#barcode", e.model.item.uqid, {
                    format: "CODE39",
                    width: 1,
                    height: 40,
                    font: "sans-serif",
                    fontSize: 16
                });

                var classes = [],
                    flag = false;
                e.model.item.content.Students.forEach(function(s, i) {
                    flag = false;
                    classes.forEach(function(c) {
                        if (c.Name === s.class_name) flag = true;
                    });
                    if (!flag) classes.push({
                        Name: s.class_name,
                        Students: []
                    });
                });
                e.model.item.content.Students.forEach(function(s, i) {
                    classes.forEach(function(c) {
                        if (c.Name === s.class_name)
                            c.Students.push(s);
                    });
                })

                e.model.item.printTime = [moment().format('YYYY/MM/DD HH:mm'), ' (', ['日', '一', '二', '三', '四', '五', '六'][moment().day()], ')'].join('');
                this.set('printTarget', e.model.item);
                this.set('printTarget.classes', classes);

                setTimeout(function() {
                    var pw = window.open('', '', 'left=200,height=840,width=740');
                    pw.document.write(this.$.print.innerHTML);
                    pw.document.close();
                    pw.focus();
                    pw.print();
                }.bind(this), 100);
            },
        });
    </script>
</dom-module>
